<div class="page">
	<div class="page_content">
		{{> headerDark}}
		{{#with hero}}
			<div class="hero_content">
				<h1 class="hero_title">{{title}}</h1>
				<p class="hero_text">{{description}}</p>
				{{#with button}}
					<a href="{{url}}" class="hero_button">{{text}}</a>
				{{/with}}
			</div> 
		{{/with}}
		{{#with about}}
			<div class="form">
				<div class="form_content">
					<h2 class="form_title">{{heading}}</h2>
					<p class="form_info">{{info}}</p>
				</div>
			</div>
		{{/with}}
		<div class="card">
			<h2 class="title">Our Articles</h2> 
			<input type="text" class="card_item" placeholder="View All">
		</div>	
		<div class="frame">
			{{#each articles}}
				<div class="frame_content">
					<div class="frame_slider">
						<img src="{{photo}}" alt="frame_image" class="frame_image">
						<h1 class="frame_title">{{name}}</h1>
						<p class="frame_info">{{description}}</p>
					</div>
					<a href="#" class="frame_button">Read All</a>
				</div>
			{{/each}}
		</div>
		{{> footerDark}}
	</div>
</div>