{{#with header}}
 <div class="header">
	<div class="header_nav">
		<div class="logo">A</div>
		<div class="nav">
			{{#each links}}
				<a href="{{uri}}" class="nav_link">{{text}}</a>
			{{/each}}
		</div>
	</div>
	<div class="header_item">
		<span class="logo1">Ad</span>
		{{#with ad}}
			<a href="{{uri}}" class="nav_link">{{text}}</a>
		{{/with}}	
		<a class="user">userOnline: {{userOnline}}</a>
	</div>
</div>
{{/with}}

